.form {
  background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(44, 245, 218, 0.5));
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  width:450px;
  min-width: 30vmin;
  min-height: 50vmin;
  display:flex;
  flex-direction:column;
  margin:30px;
  padding:30px;
}
